<div class="upload-container">
  <input type="file" (change)="onFileChange($event)" />
</div>

@if (imageParts.length > 0) {
  <div class="main-container">
    <div class="original-image">
      <img [src]="originalImage.src" alt="Original image">
    </div>
    <div class="puzzle-container">
      @if(!won){
        @for (row of puzzle; let rowIndex = $index; track $index) {
          <div  class="puzzle-row">
            @for (tile of row; let colIndex = $index; track $index ) {
              <div
                class="puzzle-tile"
                [ngClass]="{'empty': tile === 0}"
                [attr.data-row]="rowIndex"
                [attr.data-col]="colIndex"
                [draggable]="isTileDraggable(rowIndex, colIndex)"
                (dragstart)="isTileDraggable(rowIndex, colIndex) ? onDragStart($event) : undefined"
                (dragover)="tile == 0 ? onDragOver($event) : undefined"
                (drop)="onDrop($event)"
              >
              <img *ngIf="tile !== 0" [src]="imageParts[tile - 1]" [style.left]="getTileOffsetX(tile - 1)" [style.top]="getTileOffsetY(tile - 1)"
              [attr.data-row]="rowIndex"
              [attr.data-col]="colIndex" />
              </div>
            }
          </div>
        }
      }
      @else {
        <div  class="original-image center">
          Congratulations!
        </div>
      }
    </div>
  </div>
  <div class="score-container">
    <div class="score">Time: {{timeString}}</div>
    <div class="score">Moves: {{moves}}</div>
  </div>
}
